<a href="https://colab.research.google.com/github/raghavk20/Car-Price-Prediction/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
d1=pd.read_csv('/content/drive/MyDrive/datasets/vehicles.csv')
d1.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [ ]:
d1.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [ ]:
drop_columns = ['id','url', 'region_url','manufacturer','condition','cylinders', 'drive','size','image_url','county','state','lat','long','posting_date','description']
d1 = d1.drop(columns = drop_columns)

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   model         421603 non-null  object
 4   fuel          423867 non-null  object
 5   odometer      422480 non-null  float64
 6   title_status  418638 non-null  object
 7   transmission  424324 non-null  object
 8   VIN           265838 non-null  object
 9   type          334022 non-null  object
 10  paint_color   296677 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 35.8+ MB

In [ ]:
d1=d1.dropna()

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178459 entries, 27 to 426878
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        178459 non-null  object
 1   price         178459 non-null  int64
 2   year          178459 non-null  float64
 3   model         178459 non-null  object
 4   fuel          178459 non-null  object
 5   odometer      178459 non-null  float64
 6   title_status  178459 non-null  object
 7   transmission  178459 non-null  object
 8   VIN           178459 non-null  object
 9   type          178459 non-null  object
 10  paint_color   178459 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.3+ MB

In [ ]:
d1.head()

,region,price,year,model,fuel,odometer,title_status,transmission,VIN,type,paint_color
27,auburn,33590,2014.0,sierra 1500 crew cab slt,gas,57923.0,clean,other,3GTP1VEC4EG551563,pickup,white
28,auburn,22590,2010.0,silverado 1500,gas,71229.0,clean,other,1GCSCSE06AZ123805,pickup,blue
29,auburn,39590,2020.0,silverado 1500 crew,gas,19160.0,clean,other,3GCPWCED5LG130317,pickup,red
30,auburn,30990,2017.0,tundra double cab sr,gas,41124.0,clean,other,5TFRM5F17HX120972,pickup,red
32,auburn,27990,2012.0,sierra 2500 hd extended cab,gas,68696.0,clean,other,1GT220CG8CZ231238,pickup,black

In [ ]:
from sklearn.preprocessing import LabelEncoder
for col in d1.columns:
      le = LabelEncoder()
      le.fit(list(d1[col].astype(str).values))
      d1[col] = le.transform(list(d1[col].astype(str).values))

In [ ]:
d1.head()

,region,price,year,model,fuel,odometer,title_status,transmission,VIN,type,paint_color
27,16,5042,86,9869,2,42063,0,2,42148,8,10
28,16,3167,82,10081,2,46663,0,2,21036,8,1
29,16,5772,92,10095,2,24160,0,2,40929,8,8
30,16,4689,89,11529,2,36313,0,2,54210,8,8
32,16,4212,84,9944,2,45748,0,2,24077,8,0

In [ ]:
region_data=d1['region']
year_data = d1['year']
model_data=d1['model']
fuel_data=d1['fuel']
odometer_data=d1['odometer']
title_data=d1['title_status']
transmission_data=d1['transmission']
vin_data=d1['VIN']
type_data=d1['type']
paint_data=d1['paint_color']


price_data = d1['price']

price = np.array(price_data).reshape(-1,1)

features=np.array([region_data,year_data,model_data,fuel_data,odometer_data,title_data,transmission_data,vin_data,type_data,paint_data]).T

In [ ]:
model = LinearRegression()
model.fit(features,price)

LinearRegression()

In [ ]:
le.fit(d1['region'].astype(str).values)
a1='auburn'
a1=le.fit_transform(list(a1))
print(a1)

[0 4 1 4 3 2]

In [ ]:
le.fit(list(d1[col].astype(str).values))
result=model.predict([[113,104870]])
print(result)
d1.info()

[[6161.03194768]]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   price         426880 non-null  int64
 2   year          426880 non-null  int64
 3   manufacturer  426880 non-null  int64
 4   model         426880 non-null  int64
 5   condition     426880 non-null  int64
 6   cylinders     426880 non-null  int64
 7   fuel          426880 non-null  int64
 8   odometer      426880 non-null  int64
 9   title_status  426880 non-null  int64
 10  transmission  426880 non-null  int64
 11  drive         426880 non-null  int64
 12  type          426880 non-null  int64
 13  paint_color   426880 non-null  int64
dtypes: int64(14)
memory usage: 45.6 MB

In [ ]:
x=d1.drop('price',axis=1)
y=d1['price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [ ]:
logre = LinearRegression()
logre.fit(x_train,y_train)

LinearRegression()

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = logre.predict(x_test)
print(y_pred)

[7557.34131225 7357.36992525 6743.39003635 ... 9725.25757879 8544.80905998
 8434.68814253]